Not able to create Docker Hub webhook.

Hi.

I used the "Get the webhook" tab when logged on to your service. When I attempt to paste the resulting POST URL (https://hooks.microbadger.com/imag...) into the Webhooks settings for my project on Docker Hub, I receive "Valid URL required" when attempting to add it.

![image](https://user-images.githubusercontent.com/6368715/50159754-bc300a80-02d7-11e9-8130-fd30c9bc688c.png)


It would seem that replacing the final '=' with %3d enables you to put it into the webhooks at Docker Hub.

Also submitting that to your backend seems to be accepted.

@madworx Sorry about the delayed response. This may have been caused by the recent redesign of Docker Hub. 

I just tried this with `=` rather than `%3d` and it was accepted without an error. Can you confirm if this is still a problem?

@rossf7: No worries.

However, RFC 3986 section 2.2 states that "=" is a reserved character, and should thus be percent-encoded (%3d).

I.e. even if it now works at Docker Hub, it's because DH is more lenient than they need to be; It's still not correct generating the URL without encoding the equals sign.